@model QuestRoomMVC.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOrder)
        </dd>
         @if (User.IsInRole("admin"))
                 {
                   <dt class = "col-sm-2">Client</dt>
                   <dd class = "col-sm-10">
                   @Html.DisplayFor(model => model._user.UserName)
        </dd>
                 }         
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
